body {
    font-family:arial;

}
#nav {
    list-style-type:none;
    margin:0;
    padding:0;
}
#content {
    position:absolute;
    top:0;
    left:150px;
    padding-bottom:20px;
}
.code {
    padding:10px !important;
    border-radius:6px;
}
